<div>
<ul>
 
  <div ng-repeat='alumni in fad.found' class='row'>
   <div class='col'><label for="">
   {{alumni.gsx$name.$t}}</label>
	</div>
    <div class='col'>	
    {{alumni.gsx$phonenumber.$t}}
	</div>
    <div class='col'>	
	{{alumni.gsx$email.$t}}
	</div>
    <div class='col'>	
	{{alumni.gsx$address.$t}}
	</div>
    <div class='col'>	
	{{alumni.gsx$bloodgroup.$t}}
	</div>
    <div class='col'>	
	{{alumni.gsx$commentsideatoimprovealumnievent.$t}}
	</div>
    <div class='col'>	
		<button type="button" name="button" ng-click="fad.remove({'index':$index})">Remove</button>
	</div>
	</div>
  </div>	
 
</ul>

</div>